<div class="col-md-4">
    <div class="card">
        <img class="card-img-top" src="{{ tool.image.url }}" alt="{{ tool.image.alt }}">
        <div class="card-block p-3">
            <h4 class="card-title">{{ tool.title }} </h4>
            <p class="card-text">{{ tool.description }}</p>
            <a href="{{ tool.url}}" class="btn btn-primary rounded-0 mb-2">Read More</a>
        </div>
    </div>
</div>